{% extends 'base.html.twig' %}

{% block title %}Jeu{% endblock %}

{% block body %}
    <div class="container">
    <h3>{{ quizz.Title }}</h3>
    <p> {{quizz.description}} </p>
     {% if quizz.ImageName != null %}
        <img class="img-fluid"  width="300" height="300" src="{{ asset('/uploads/images/quizz/')~ quizz.ImageName }}" alt="Card image cap">
    {% else %}
        <img class="img-fluid"  width="300" height="300" src="{{ asset('/uploads/images/quizz/defaultQuizz.png') }}" alt="Card image cap">
    {% endif %}

    <h5 class="text-success">Votre score est de : {{ score }} / {{scoreMax}}</h5>
    <h5> Voici les 10 meilleurs joueurs : <h5>
    <table class="table table-striped">
        <thead>
    <tr>
        <th></th>
      <th>Player</th>
      <th>Score</th>
    </tr>
        </thead>
        <tbody>
    {%set i = 0%}
    {% for user in classement %}
    {%set i = i + 1 %}
    <tr>
        <td>{{i}}</td>
      <td>{{user.player.pseudo}}</td>
      <td>{{user.ScoreUser}} / {{scoreMax}}</td>
    </tr>
    {% endfor %}
        </tbody>
        </table>

    </div>
{% endblock %}
